.active {
  font-weight: 700;
}

.searchModal {
  box-shadow: 1px 1px 8px gray;
  border-top-right-radius: 16px;
  border-bottom-right-radius: 16px;
}
.input-file span {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  font-size: 14px;
  text-align: center;
  border-radius: 4px;
  background-color: #0095f6;
  width: 193.82px;
  height: 32px;
  border: none;
  border-radius: 8px;
  transition: background-color 0.2s;
  padding-top: 5px;
}

.input-file span:hover {
  background-color: #1877f2;
}

.input-file input[type="file"] {
  position: absolute;
  z-index: -1;
  opacity: 0;
  display: block;
  width: 0;
  height: 0;
}

.wrapper-message > .query:active {
  color: #aaaaaa;
}

.to-active:active,
.delete-active:active {
  color: #aaaaaa;
}


.message-user .panel-hidden {
  display: none;
}

.message-user:hover .panel-hidden {
  display: block;
  cursor: pointer;
}

